body {
    padding: 1vw;
    margin : 5vw;
}

p {
    line-height: 1.5;
}

/* MENU */

.menu { /* C'est cette partie qui met les colonnes*/
    font-family: "Bellefair", serif;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0px; /* colle le bandeau en haut */
    position: fixed; /* menu fixe */
    background-color: white; /* couleur fond menu fixe */
    width: 100%;  /*taille bandeau mais ça décale le texte */
} 

.logo {
    color: black;
    display: block;
    font-size: 5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    text-decoration: none;
}
.nav {
    margin-top: 1.5rem; /* Pour aligner en haut avec logo*/
    margin-right: 10vw;
} 

.nav a {
    color:black; /* couleur onglets MENU */
    display: block;
    text-decoration:none; /* enlève soulignement */
    padding:0.5rem;  /* ajouter espacement entre les éléments */
    font-size: 1.15rem;
}

.nav a:hover { /* surligner l'onglet sur lequel on est */
    background-color: #958976;
    color: black;
}

.nav-list {
    display: flex; /* enleve les puces */
    flex-wrap:wrap
}  /*ramene les onglets sur une ligne */

nav ol, nav ul {
    list-style-type: none;/* enleve les puces*/
    margin: 0; /* pas de marge quand ça passe en dessous*/
    padding:0;
}


/* MAIN (entre le header et le footer)*/

main {
    margin-top : 175px; /*espace entre le main et le footer*/
    font-family: 'Noto Sans', sans-serif;
    color: #1d2326;
}

.message-accueil { /* paramétrage particulier pour le sous-titre de la page d'accueil*/
    color: #708090;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #958976;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #958976;
    font-size: 27px;
    font-weight: lighter;
}


.citation {
    margin-left: 25vw;
    margin-bottom: 5vw;
    text-align: right;
}

a {
    color:black; 
}

/* IMAGES */

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.image-page {
    margin-top : 2vw;
}

.image1 {
    width: 100%;
}

.images3 { 
    margin:0;
    padding: 1vw;
    width: 21vw;
}

.images4 {
    margin:0;
    padding: 0,5vw;
    width: 14vw;
}

 .caption3 { /* Figcaption page Inspiration, 3 colonnes */
    text-align: center;
    font-size: 1rem;
    color: #708090;
}

.caption {
    font-style: italic;
    text-align: right;
    font-size: 1rem;
    color: #708090;
    margin-top: 0,5vw;
}

/* FOOTER */

hr {
    margin-top : 100px;
}

footer {
    font-family: "Bellefair", serif;
    margin-bottom: -5vw;
    font-size: smaller;
    color: black;
    width: 100%;  /*taille bandeau mais ça décale le texte */
}   

